
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h1>"Cher, when you free ah?"</h1>
				<p>Book your teachers' consultation slots.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter username">
						</div>
						<div class="form-group">
						<input type="password" class="form-control" placeholder="Your password...">
						</div>
						<div class="form-group">
						<button class="btn btn-info">sign in</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ui-sref="teachers">
			<h1>Find teacher.</h1>
			<h1><i class="fa fa-user"></i></h1>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ui-sref="subjects">
			<h1>Search subjects.</h1>
			<h1><i class="fa fa-book"></i></h1>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<h1>Search by day.</h1>
			<h1><i class="fa fa-calendar"></i></h1>
		</div>

	</div>


